h1{
    font-family: 'Times New Roman', Times, serif;
    font-size:50px;
}
.list
{
    list-style-type: none;
   padding:50px;
    background-color:lightseagreen;
    margin-bottom:30px;
   
}

.imgg
{
    float:left;
    clear:left;
}


